<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="csci260hw3.Tests.Properties.Settings.CSci260ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\david\Desktop\cs260\Database\CSci260.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>